html {
    font-size: 13px;
}

body{
    height: 100%;
    position: relative;
}

* {
    font-family: 'Manrope';
}

.content_container{
    width: 70%;
    display: flex;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .infos_block{
        @include flexColumnMid;
        background-color: white;
        width: 60%;
    }

    h1 {
        width: 80%;
        margin: 20px auto;
        font-size: 2em;
        font-weight: 700;
        color: $Very_Dark_Grayish_Blue;
    }

    p {
        width: 80%;
        margin: 20px auto;
        font-size: 1.3em;
        font-weight: 500;
        color: $Desaturated_Dark_Blue;
    }

    .bottom_block {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        
        * {
            margin: 0;
        }
    }
}

.avatar_block{
    display: flex;

    .avatar_name{
        @include flexColumn;
        margin-left: 15px;
        justify-content: center;

        h2{
            font-weight: 700;
            color: hsl(217, 19%, 35%);;
        }
    }
}

@media screen and (max-width : 670px) {

    .secondary_bg{
        height: 750px;
    
        .content_container {
            @include flexColumn;
            border-radius: 10px;
            overflow: hidden;

            .desk, .infos_block {
                width: 100%;
            }
        }
    }
}