body{
    background-image: url(../../images/bg.jpg);
    background-size: cover;
}

.secondary_bg {
    background-color: $Grayish_Blue;
    position: absolute;    
    height: 600px;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 15%);
}

.desk{
    position: absolute;
    width: 50%;
}